In [ ]:
#Assignment 1

alt = int(input("Enter the Altitude:"))

if alt<=1000:
  print("Safe to land")

elif alt>1000 and alt<=5000:
  print("Bring down to 1000ft")

else:
  print("Turn Around")

Enter the Altitude:6500
Turn Around

In [ ]:
#Assignment 2

for i in range(1,201):
  if i>1:
    for j in range (2,i):
      if(i%j==0):
        break
    else:
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199